.alerta {
  padding: 0.5rem;
  text-align: center;
  color: $blanco;
  font-weight: $bold;
  text-transform: uppercase;
  margin: 1rem 0;
  // cuando estan en el mismo nivel se coloca el ampersand (&)
  &.error {
    background-color: $rojo;
  }
}

.char-counter {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  color: gray;
}

.p-relative {
  position: relative;
}

.char-count {
  color: $rojo;
}